.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 48vw;
}

.ludo-player-box{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 10px;
}

.ludo-player-box > *{
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
}

.ludo-path-box{
    padding: 17px 17px;
    border: 1px solid black;
}

.ludo-middle-90-anticlockwise{
    width: 48vw;
    transform: rotate(-90deg);
}

.ludo-middle-90-clockwise{
    width: 48vw;
    transform: rotate(90deg);
}

.middle{
    height: 18vh;
}

.temp{
    min-width: 8px;
    max-height: 8px;
    background-color: blue;
    border-radius: 25px;
}

.diceStyle{
    max-width: 18px;
    max-height: 18px;
    border-radius: 25px;
    cursor: pointer;
}